<template name="root">
  <div class="root view">
    {{# unless currentUser }}
      <div class="ui info icon message">
        <i class="announcement icon"></i>
        <div class="content">
          <div class="header">
            Go to /admin to edit the site
          </div>
          <p>username: admin // password: admin</p>
        </div>
      </div>
	  {{/unless}}
	  <p class="info">
      Orion allows the admin to easily
      <a href="{{pathFor 'dictionary.update'}}">edit</a>
		  content of the site, like the following text:
		  <i>"{{ dict 'root.demo' }}"</i>.
	  </p>
	  {{#each posts}}
		  {{> post}}
	  {{/each}}
  </div>
</template>
