<template name="root">
  <div class="root view">
    {{# unless currentUser }}
      <div class="ui info icon message">
        <i class="announcement icon"></i>
        <div class="content">
          <div class="header">
            Register to edit the content of this site
          </div>
          <p>Go to /admin to register and/or login</p>
        </div>
      </div>
	  {{/unless}}
	  <p>
      Orion allows the admin to easily
      <a href="{{pathFor 'dictionary.update'}}">edit</a>
		  content of the site, like the following text:
		  <i>"{{ dict 'public.homeText' }}"</i>.
	  </p>
	  {{#each posts}}
		  {{> post}}
	  {{/each}}
  </div>
</template>
