<template name="footer">
  <p class="copyright">
    <a class="product" href="http://github.com/orionjs/orion">Orion</a>
		is an open source platform that allow developers to create complex websites in minutes.
  </p>
  <p class="attribution">
    <a class="product" href="http://github.com/orionjs/orion">Orion</a>
    is built with
    <a class="framework" href="http://meteor.com">Meteor</a>
    by
    <a class="creator" href="http://github.com/nicolaslopezj">Nicolás López</a>
    .
    This demo was built by <a class="creator" href="http://github.com/amazingBastard">Damir Vazgird</a>
    .
  </p>
</template>
